@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --font: 'Poppins', sans-serif;
  }
* {
font-family: var(--font);
box-sizing: border-box;
}
p,
span {
  font-family: var(--font);
}
hr {
  border: 1px solid #f4f4f4;
}
button{
  cursor: pointer;
}
